@import url('https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
}
h1 {
    color:rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 80px;
    font-weight: bolder;
    text-align: center;
    text-decoration: overline;
}
#heading-parent {
   background-image:linear-gradient(45deg, #5f0057, transparent ), url(/images/hero-bg.gif);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
    padding: 100px 20px;
    height: 500px; max-width: 1100px;
    /* margin-top: 40px ;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto; */
    margin: 30px auto;
    clip-path: polygon(100% 1%, 100% 70%, 43% 100%, 0 100%, 0 0);
}
.btn {
    background-color: rgb(55, 0, 87);
    padding: 6px 15px;
    font-size: 20px;
    color: bisque;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 6px;
    font-family: "Wittgenstein", serif;
}
.btn-parent{
    text-align: center;
    margin:30px 0;
}